/.vscode
/__pycache__
/build
/dist
/node_modules/
*.log
.claude
.codebuddy
.qoder
biorhythm_env/*
biorhythm_env/Lib/site-packages/*
frontend/node_modules/*
frontend/node_modules/.bin/*
backend/utils/__pycache__/*
biorhythm_env/Lib/site-packages/wheel/cli/__pycache__/__init__.cpython-312.pyc
backend/services/__pycache__/*
backend/services/__pycache__/biorhythm_service.cpython-312.pyc
backend/services/__pycache__/biorhythm_service.cpython-39.pyc
frontend/build/*
backend/config/__pycache__/maya_config.cpython-312.pyc
*.pyc
backend/.DS_Store
frontend/.DS_Store
*.DS_Store
.qoder/OpenSpec/.gitignore
.DS_Store
electron/node_modules/
electron/dist/
electron/build/icons/
electron_build/dist/
electron_build/node_modules/
electron/build_temp/
electron/dist-women-health/
women-health-app/node_modules/
women-health-app/frontend/node_modules/
women-health-app/electron/node_modules/
women-health-app/electron/dist/
women-health-app/electron/dist-women-health/
women-health-app/electron/dist-women-health/
